<%-include("header")-%>
    <div class="container container1">
        <div class="heading">
            <h1><%=title%></h1>
            <h3><span>#</span><%=time%></h3>
        </div>
        <p><%=content%></p>
    </div>

<%-include("footer")-%>